body {
    font-family: Arial, sans-serif;
      /* background-color: #f0f0f0; */
  
    /* background-image: url('weather1.webp'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Set the height to fill the viewport */
    margin: 0; /* Remove default margin */
    padding: 0; 
  }